# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# tfvars secrets (never commit real ones)
*.auto.tfvars
*.auto.tfvars.json

# Local tooling
.env

# Terraform plan outputs (do not commit)
tfplan
*.tfplan
*.plan
plan.out
